@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding:0%;
  margin: 0%;
  box-sizing: border-box;
}
.wrapperTable{
  background: rgb(38, 38, 38);
}
table{
  color: white;
  text-align: center;
}
.innerWrapper{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.361);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
}
.wrapper{
  min-height: 100vh;
  width: 100%;
}
.locationDiv{
  background-color: rgb(52 51 61);
}
.mainTempcol{
  background: rgba( 0, 0, 0, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.squareTab , .hourlyDiv{
  background: rgba(0, 0, 0, 0.211);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 45%;
  height: 175px;
}
.hourlyDiv{
  background: rgba(0, 0, 0, 0.375);
  width: 100%;
  height: 200px;
}
.divide{
  height: 2px;
  border-radius: 2px;
  width: 100%;
  background-color: #617485;
}
.unit{
  color: #617485;
  font-size: 18px;
}
.feelsLike{
  color: rgb(97 116 133);
}
.scrollable::-webkit-scrollbar{
  height: 5px;
  border-radius: 6px;
  background-color: #617485;
}
.scrollable::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.487);
}
.forcastTab{
  width: 55%;
  height: auto;
}


/* 404 */

h1, a{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.section{
  padding: 4rem 2rem;
}

.section .error{
  font-size: 150px;
  color: #008B62;
  text-shadow: 
    1px 1px 1px #00593E,    
    2px 2px 1px #00593E,
    3px 3px 1px #00593E,
    4px 4px 1px #00593E,
    5px 5px 1px #00593E,
    6px 6px 1px #00593E,
    7px 7px 1px #00593E,
    8px 8px 1px #00593E,
    25px 25px 8px rgba(0,0,0, 0.2);
}

.page{
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.back-home{
  display: inline-block;
  border: 2px solid #222;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  transition: all 0.2s linear;
  box-shadow: 0 15px 15px -11px rgba(0,0,0, 0.4);
  background: #222;
  border-radius: 6px;
}
.back-home:hover{
  background: #222;
  color: #ddd;
}

/* media Quries */

@media screen and (min-width: 768px) and (max-width: 910px) {
  .feelsLike{
    font-size: 15px;
  }
  .tabstext{
    font-size: 28px;
  }
}


@media screen and (min-width: 500px) and (max-width: 767px) {
  .wrapper{
    height: auto;
    padding: 10px;
  }
  .mainTempcol{
    height: auto;
    padding: 10px;
    gap: 10px;
  }
  .innerWrapper{
    flex-direction: column;
    width: 95%;
    gap: 10px;
  } 
  .tempAndlocationDiv, .forcastDiv{
    width: 100%;
    gap: 10px;
  }
  .feelsLike{
    font-size: 15px;
  }
  .tabstext{
    font-size: 28px;
  }
  .innerForcastDiv{
    gap: 10px;
    align-items: center;
  }
 .forcastTab{
  width: 100%;
 }


}


@media screen and (max-width: 499px) {
  .wrapper{
    height: auto;
    padding: 10px;
  }
  .wrapperTable{
    height: auto;
    width: auto;
  }
  .tabs{
    flex-direction: column;
    width: 100%;
  }
  .tabs .squareTab{
    width: 100%;
  }
  .mainTempcol{
    height: auto;
    padding: 10px;
    gap: 10px;
  }
  .innerWrapper{
    flex-direction: column;
    width: 95%;
    gap: 10px;
  } 
  .tempAndlocationDiv, .forcastDiv{
    width: 100%;
    gap: 10px;
  }
  .feelsLike{
    font-size: 15px;
  }
  .tabstext{
    font-size: 28px;
  }
  .innerForcastDiv{
    gap: 10px;
    align-items: center;
  }
 .forcastTab{
  width: 100%;
 }


}